@media (max-width:1650px) {

#feat .tcard {
    padding-bottom: 60px !important;
}

}

@media (min-width:1201px) and (max-width:1350px) {

h2.titleh2.event-title {
    font-size: 22px;
}

a.btn.btn-bg.view-contest {
    font-size: 12px;
    padding: 12px 15px;
    letter-spacing: 0;
}

.txt-card {
    padding: 20px 15px;
}

span.date-abs {
    font-size: 26px;
    width: 90px;
}

#feat p.content {
    line-height: unset;
}

}

@media (max-width:1200px) {

h2.titleh2.event-title {
    font-size: 20px;
}

#feat p.content {
    padding-bottom: 10px;
    line-height: unset;
}

a.btn.btn-bg.view-contest {
    font-size: 12px;
    padding: 12px 15px;
    letter-spacing: 0;
}

.txt-card {
    padding: 18px 15px;
    box-shadow: 0px 0px 11px 0px #0002;
	width: calc(100% - 70px);
}

span.date-abs {
    font-size: 20px;
    width: 70px;
    top: 20px;
}

#about p {
    font-size: 16px;
    line-height: 1.6;
}

h2.titleh2 {
    font-size: 42px;
}

.fa-ul i.fas {
    font-size: 11px;
    width: 22px;
    height: 22px;
    line-height: 23px;
}

ul.fa-ul li {
    font-size: 16px;
    font-weight: 400;
}

.pricing .card-price {
    font-size: 2.8rem;
}

#navbarNavAltMarkup a.nav-link {
    padding: 42px 0px;
    font-size: 15px;
    margin-right: 20px;
}

.slider-content h2 {
    font-size: 48px;
}

.serv-body h3 {
    font-size: 24px;
}

#feat p.content {
    font-size: 12px;
    letter-spacing: 0px;
}

}


@media (min-width:1100px) {

#eve .tcard .justify-content-center {
    width: 100%;
    height: 20vw;
    min-height: 20vw;
    max-height: 20vw;
}


form.subs {
    max-width: 480px;
    float: right;
    width: 100%;
}

.cta input.form-control {
    height: 60px;
}

button.btn.btn-primary.nletter {
    line-height: 62px;
}


}

@media (max-width:1100px) {
	
#navbarNavAltMarkup a.nav-link {
    padding: 38px 0px;
    margin-right: 15px;
    font-size: 14px;
}

img.logo {
    max-height: 70px;
    transition: all ease 0.5s;
}

.fixed-top img.logo {
    max-height: 55px;
}

.fixed-top #navbarNavAltMarkup a.nav-link {
    padding: 29px 0 31px;
}

span.date-abs {
    font-size: 18px;
    width: 70px;
}

h2.titleh2.event-title {
    font-size: 16px;
}

#feat p.content {
    font-size: 12px;
}

div#about {
    padding: 10px 0 70px;
}

#about p, .pricing .col-md-12 > p, #tests > .container > p, body p {
    font-size: 14px;
}

footer#footer p, footer#footer a, footer#footer li {
    line-height: 1.7;
    font-size: 14px;
}

h2.titleh2 {
    font-size: 36px;
}

div#floating-search h2 {
    font-size: 36px;
}

footer h2.titleh2 {
    font-size: 22px;
    margin-bottom: 20px;
}

button.btn.btn-primary.nletter {
    width: 130px;
    font-size: 14px;
    line-height: 52px;
}

.cta input.form-control {
    line-height: 40px;
    padding: 4px 135px 2px 20px;
}

a.btn.btn-bg {
    padding: 15px 20px;
}

.reg-login a {
    font-size: 14px;
    letter-spacing: 0;
}

#about p {
    margin-bottom: 10px;
}

#about a.btn.btn-bg.mt-4 {
    margin-top: 15px !important;
}

.btn {
    font-size: 14px;
}

.card-body > p {
    font-size: 16px;
    font-weight: 300;
}

#feat .col-md-12 > p {
    font-size: 16px;
}

#eve .gallery_product, #cand .gallery_product {
    margin-bottom: 20px;
    flex: 0 0 50%;
    max-width: 50%;
}

#eve .tcard .justify-content-center {
    width: 100%;
    height: 25vw;
    min-height: 25vw;
    max-height: 25vw;
}

form#seachform .row > .col-md-6 {
    max-width: 45%;
}

form#seachform .row > .col-md-4 {
    padding-left: 0;
    padding-right: 0;
    max-width: calc(55% - 195px);
    flex: 0 0 calc(55% - 195px);
}

#floating-search .col-md-2 {
    position: relative;
    max-width: 195px;
    flex: 0 0 195px;
}

.team-mem {
    padding: 30px 0 !important;
}

.team-mem h3 {
    font-size: 20px !important;
}

.team-mem h4 {
    font-size: 15px !important;
}

.team-mem > span {
    width: 140px;
    height: 140px;
}

.item > .team-mem > img {
    width: 140px !important;
    height: 140px !important;
}

#login-frm-user .social-logins .col-md-12 a {
    padding: 12px 8px;
    font-size: 11px;
    width: calc(33.33% - 3px);
}

.popupp .col-md-7 {
    padding: 30px;
}

p.flx {
    font-size: 12px;
}



	
}

@media (max-width:999px) {
	
	.col-md-4.col-sm-12.sidebar {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-md-8.col-sm-12.edetail {
    flex: 0 0 100%;
    max-width: 100%;
}

.candidate-vote {
    max-width: 540px;
    float: none;
    margin: 0 auto;
}

.event-details {
    margin-bottom: 55px;
}

p.eve-date-time {
    font-size: 14px;
    justify-content: space-between;
}
	
.feat-event div.owl-item {
    transform: scale(1);
}

.fe-abs {
    display: block;
    padding: 20px;
}

span.date-abs {
    left: 30px;
}

.txt-card {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    max-width: 400px;
    height: fit-content;
}

.cta h2.titleh2 {
    margin-bottom: 15px;
}

div#floating-search h2 {
    font-size: 32px;
}

h2.titleh2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#tests .tcard {
    background: linear-gradient(152deg, #f47f34, #fdb92e);
    color: #fff;
    max-width: 500px;
    margin: 0 auto;
    width: 90%;
}

#feat .tcard {
    padding-bottom: 0 !important;
}

button.btn.btn-primary.nletter {
    width: 120px;
}

.cta input.form-control {
    line-height: 50px;
    padding: 4px 125px 2px 20px;
}

.cta input.form-control::placeholder {
    color: #fff;
	font-size: 12px;
}

footer h2.titleh2:after {
    width: 35px;
}

footer h2.titleh2 {
    font-size: 18px;
}

footer .col {
    padding: 0 5px;
}

.slider-content {
    padding: 9vw 0 11vw;
}

iv#floating-search h2 {
    margin-bottom: 30px;
    font-size: 36px;
}

.slider-content h2 {
    font-size: 38px;
}

#navbarNavAltMarkup a.nav-link {
    padding: 10px !important;
    margin-right: 0;
    font-size: 14px;
    border: none !important;
    margin-bottom: 5px;
    color: #fff;
}

img.logo {
    max-height: 55px;
}

div#navbarNavAltMarkup {
    position: fixed;
    width: 100vw;
    left: 0;
    padding: 100px 20px 20px;
    top: 0;
    z-index: 9;
    height: 100vh;
    background: #fde72e;
    overflow-y: auto;
}

button.navbar-toggler {
    position: relative !important;
    z-index: 99 !important;
    display: block;
}

a.navbar-brand {
    position: relative;
    z-index: 99;
}

header {
    padding-bottom: 85px;
}

nav#navbar_top {
    position: fixed;
    z-index: 9;
    width: 100%;
}

#navbarNavAltMarkup a.nav-link.active, #navbarNavAltMarkup a.nav-link:hover {
    border-top: 4px solid #ffa500;
    color: #fff;
    letter-spacing: 1px;
    background: #fff6;
}

#navbarNavAltMarkup a.nav-link:hover {
    background: #fff3;
}

.reg-login a.btn {
    font-size: 13px;
    letter-spacing: 0;
    border: none !important;
    background: #fff !important;
    padding: 12px 25px !important;
    font-weight: 500;
    margin-right: 10px !important;
    color: #fde72e !important;
    top: 0;
}

#feat .col-md-12 > p {
    margin: 0 auto 20px;
}

.col-4.serv, .col-3.serv {
    min-width: 50%;
}

div#feat.py-5 {
    padding-bottom: 0rem !important;
}

.col-md-4.col-sm-12.sidebar {
    flex: 0 0 100%;
    max-width: 100%;
}

.event-contestant .single-event-ticket {
    margin: 30px auto 0;
    float: none;
}

.col-md-8.col-sm-12.edetail {
    flex: 0 0 100%;
    max-width: 100%;
}

.event-contestant .col-md-8.col-sm-12.edetail {
    display: flex;
    flex-direction: column;
}

h2.cand-name {
    font-size: 18px;
}
span.cand-no {
    font-size: 14px;
}

.cta .col-md-7, .cta .col-md-5 {
    max-width: 50%;
    flex: 0 0 50%;
}

#feat .tcard img.img-fluid {
    height: 50vw;
}

#feat .tcard .row.justify-content-center {
    max-height: inherit;
}

#feat p.content {
    font-size: 14px;
}

ul.social-icon li {
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin: 0 2px;
}

ul.social-icon li i {
    font-size: 12px;
}

.popupp .col-md-5 {
    padding: 50px 20px;
    background-image: url(../img/pop-bg.jpg);
    background-size: cover;
    max-width: 38%;
}

.mform .form-group {
    margin-bottom: 20px;
}

p.flx .rem input {
    height: 20px;
}

p.dhacc.tc {
    margin-top: 4vw;
}

#login-frm-user .social-logins .col-md-12 a {
    font-size: 10px;
    width: calc(33.33% - 3px);
}

#login-frm-user .social-logins .col-md-12 a i {
    margin-right: 5px;
}

.popupp .col-md-7 {
    max-width: 62%;
    flex: 0 0 62%;
    padding: 20px;
}

.popupp .col-md-5 {
    max-width: 38%;
}

.popupp .col-md-12 {
    padding: 0 7px;
}

div#navbarNavAltMarkup .dropdown-menu-right {
    right: unset;
    left: 165px;
    margin-top: 5px;
}

.reg-login a.dropdown-toggle {
    display: inline-block;
    text-align: center;
    padding: 12px 10px;
    top: 0;
    width: 120px;
    font-size: 12px;
}

.reg-login a.dropdown-toggle:focus {
	outline: none;
	box-shadow: none;
}

	
}

@media (min-width:992px) {

header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 9;
}

}

@media (max-width:767px) {

#login-frm-user .social-logins .col-md-12 {
    flex-direction: column;
	padding: 0 15px;
}

#login-frm-user .social-logins .col-md-12 a {
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
}

}

@media (max-width: 700px) {
	
	#cand .img-fluid12 {
    max-width: 502px !important;
    width: 100%;
    height: auto !important;
}
	
	.event-contestant .col-md-4.col-sm-12.sidebar {
    display: none;
}
	
div.txt-card {
    position: relative;
    bottom: 0;
    width: 100%;
}

.fe-abs {
    padding: 20px 0;
}

div#feat {
    padding-bottom: 30px !important;
}

#feat .owl-nav {
    bottom: unset;
    top: 30%;
}

#about .col-md-5, #about .col-md-7 {
	width: 100%;
}

#about .col-md-5 {
    text-align: center;
    margin-bottom: 20px;
}

.cta h2.titleh2:after, #about h2.titleh2:after {
    right: 0;
    left: 0;
    margin: 0 auto;
}

#about h2.titleh2 {
    text-align: center;
}

.cta .col-md-7, .cta .col-md-5 {
    text-align: center;
}

form.subs {
    max-width: 400px;
    width: 100%;
    margin: 20px auto 0;
}

footer .col.col2, footer .col.col3 {
    width: 50%;
    flex: 50%;
}

footer .col.col1, footer .col.col4 {
    width: 100%;
    flex: 100%;
}

#footer .copyright p {
    font-size: 12px;
}

h2.titleh2 {
    font-size: 28px;
}

.pricing .card {
    width: 100%;
    margin: 10px auto;
    max-width: 360px;
    flex: 100%;
}

.pricing .card-price {
    font-size: 2rem;
}

.pricing .card-title {
    font-size: 14px;
    font-weight: 600;
}

.fa-ul i.fas {
    font-size: 8px;
    width: 16px;
    height: 16px;
    line-height: 18px;
    position: relative;
    top: -1px;
}

ul.fa-ul li {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-body a.btn.btn-block.btn-primary {
    margin: 30px auto;
    padding: 18px 20px 15px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.card-body > p {
    font-size: 14px;
    font-weight: 300;
}

div#floating-search {
    top: 0px;
    width: 90%;
    margin: 50px auto 25PX;
    box-shadow: 0px 0px 11px 0px #0002;
}

#floating-search .col-md-6 .form-group {
    border-right: none;
    padding-left: 0;
}

#floating-search > .row {
    background: transparent;
}

#floating-search span.input-group-text.px-4 {
    left: 8px;
}

#floating-search span.input-group-text i {
    font-size: 13px;
}

#floating-search > .row > div input {
    background: #edecec;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 0 15px;
    font-size: 14px;
}

input#floatingInputGrid {
    padding-left: 35px !important;
}

#floating-search button.btn.btn-primary {
    font-size: 14px;
    width: 160px;
    line-height: 24px;
    position: relative;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 0 auto;
    display: block;
}

div#floating-search h2 {
    font-size: 24px;
}

#feat .col-md-12 > p {
    font-size: 14px;
}

.reg-login a.btn {
    font-size: 12px;
    padding: 12px 20px !important;
}

.popupp .col-md-7 {
    padding: 20px 15px;
}

.form-group label {
    font-size: 12px;
    margin-bottom: 0;
}

.mform input.form-control {
    line-height: 35px;
    font-size: 12px;
}

.mform .form-group {
    margin-bottom: 10px;
}

.popupp .col-md-5 {
    padding: 30px 15px;
    min-height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3.titleh3 {
    font-size: 18px;
}

h3.titleh3:after {
    width: 35px;
}

div.modal-dialog {
    top: 5vh;
    max-height: 90vh;
    border-radius: 7px;
    overflow: auto;
}

p.flx {
    font-size: 12px;
    margin-bottom: 10px;
}

.popupp .col-md-7 > p {
    margin-bottom: 10px;
    font-size: 12px;
}

.mform .btn.btn-bg {
    padding: 12px 25px;
    font-size: 12px;
    width: 100%;
}

p.dhacc.tc {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 12px;
}

.popupp h2.titleh2.tc {
    font-size: 24px;
}

.modal button.close {
    right: 5px;
    top: 5px;
    background: #fff;
    color: #f68f32;
    width: 20px;
    height: 20px;
    font-size: 20px;
    box-shadow: 0px 0px 11px 0px #0002;
}

ul.social-icon li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.mform .form-control.col-6 {
    width: 100%;
    flex: 100%;
    max-width: 100%;
}

.mform .form-group.col-6 {
    width: 100%;
    flex: 100%;
    max-width: 100%;
}

.popupp .col-md-12 {
    padding: 0;
}

.mform .form-group.col-12:last-of-type {
    margin-bottom: 15px;
}

form.vform.mform.row > .btn {
    margin: 5px auto 0;
}

#vendorModal .modal-content {
    padding-bottom: 0;
    overflow: hidden;
}

.slider-content h4 {
    font-size: 14px;
    font-weight: 400;
    width: auto;
    padding: 0 40px;
    letter-spacing: 2px;
}

.slider-content h4:before, .slider-content h4:after {
    width: 20px;
}

.slider-content h4:before {
    left: 0px;
}

.slider-content h4:after {
    right: 0px;
}

.faqs a.card-link {
    font-size: 16px;
    padding: 15px;
}

.slider-content h2 {
    font-size: 28px;
	padding: 0 10px;
}

.faqs .card-body span {
    font-size: 14px !important;
}

.lmore.breadcrumb p {
    font-size: 12px;
}

footer h2.titleh2 {
    font-weight: 500;
}

.col-4.serv, .col-3.serv {
    flex: 0 0 100%;
    min-width: 100%;
}

span.prev-icon, span.next-icon {
    filter: grayscale(0);
}

#carouselExampleControls .carousel-control-prev, #carouselExampleControls .carousel-control-next {
    position: relative;
    width: auto;
    margin: 15px 5px 0 5px;
    display: inline-block;
}

div#carouselExampleControls {
    text-align: center;
}

div#floating-search .row {
    background: none;
    border-radius: 0px;
    margin: 0;
    padding: 10px 0;
}

div#floating-search .row .form-group input {
    background: #edecec;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 0 15px;
    font-size: 14px;
}

#floating-search.evnt button.btn.btn-primary {
    width: auto;
	padding: 10px 25px;
}

div#eve {
    padding-top: 30px;
}

#eve .txt-card {
    max-width: 100%;
}

div#event-page {
    border-radius: 0;
}

div#floating-search .row {
    margin: 0 -15px;
}

.event-contestant .eve-img {
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 #0004;
}

.eve-title {
    width: 100%;
}

p.eve-date-time span {
    width: auto;
}

form#seachform .row > .col-md-6 {
    max-width: 100%;
}

form#seachform .row > .col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    flex: 0 0 100%;
}

#floating-search .col-md-2 {
    position: relative;
    max-width: unset;
    flex: none;
}

h2#swal2-title {
    font-size: 18px;
    line-height: initial;
}

.cta .col-md-7, .cta .col-md-5 {
    max-width: 100%;
    flex: 0 0 100%;
}

.serv-body h3 {
    font-size: 20px;
}

#carouselExampleControls .carousel-control-next {
    position: absolute;
    width: 25px;
    margin: 15px 5px 0 5px;
    display: inline-block;
    bottom: 10px;
    height: 25px;
    top: unset;
    right: 40%;
    opacity: 1;
}
#carouselExampleControls .carousel-control-prev {
    position: absolute;
    width: 25px;
    margin: 15px 5px 0 5px;
    display: inline-block;
    bottom: 10px;
    height: 25px;
    top: unset;
    left: 40%;
    opacity: 1;
}

div#carouselExampleControls > a img {
    width: 25px;
}

.slider-content > p span {
    font-size: 16px !important;
    letter-spacing: 0;
}

.slider-content > p {
    font-size: 16px;
    letter-spacing: 0px;
	padding: 15px;
}

button.btn.btn-primary.nletter {
    width: 135px;
}

.cta input.form-control {
    padding: 4px 140px 2px 20px;
}

.popupp .col-md-5, .popupp .col-md-7 {
    max-width: 100%;
    flex: 0 0 100%;
}

form#login-frm-user {
    display: inline;
}

div#navbarNavAltMarkup .dropdown-menu-right {
    right: unset;
    left: 165px;
    margin-top: 5px;
}




}

@media (max-width: 580px) {
	
	
#eve .gallery_product, #cand .gallery_product {
    flex: 0 0 100%;
    max-width: 100%;
}

#eve .tcard .justify-content-center {
    width: 100%;
    height: 60vw;
    min-height: 60vw;
    max-height: 60vw;
}

.event-titlee {
    flex-direction: column;
}

.event-contestant .eve-img {
    display: block;
    width: 100% !important;
    height: auto;
}

.eve-title h2 {
    font-size: 20px;
}

p.eve-date-time {
    font-size: 14px;
    justify-content: space-between;
}

#candidate .col-md-3 {
    max-width: 100%;
    position: relative;
    margin-top: 20px;
}

#candidate .col-md-3 button.btn.btn-bg {
    font-size: 12px;
}

#candidate {
    position: relative;
    background: none;
}

#candidate .col-md-9 {
    max-width: 100%;
    padding-right: 15px;
    background: #ebebeb;
    border-radius: 30px;
}

div#eve-detail {
    padding-bottom: 20px;
}

.eve-img {
    display: none;
}

.eve-description h4 {
    font-size: 16px;
}

.eve-description {
    padding: 20px 30px;
}

.form-group.w50, .form-group.w100 {
    width: 100%;
    padding: 10px;
}

.addrs {
    position: unset;
    width: 95%;
    margin: 0 auto 30px;
}

.addrs h3.titleh3 {
    font-size: 18px;
}

a.btn.lmap {
    font-size: 12px;
}

span.icnn {
    font-size: 14px;
}

span.map-icn {
    width: 65px;
    padding: 15px;
}

.direc.col-8 {
    max-width: calc(100% - 65px);
    flex: calc(100% - 65px);
}

.dicon.col-4 {
    width: 65px;
    flex: 65px;
    max-width: 65px;
    float: right;
}

.form-control {
    font-size: 16px;
}

span.date-abs {
    font-size: 16px;
    width: 60px;
    top: 30px;
}

#vendForm .form-group.col-12 div.col-6 {
    float: left;
	max-width: 100%;
	flex: 0 0 100%;
    padding: 0;
    margin-bottom: 20px;
}

#vendForm .form-group.col-12.multii input, #vendForm .form-group.col-12.multii select {
    margin-bottom: 0px;
}

button#btnPrevious, button#nxtBtn {
    margin-bottom: 10px;
    max-width: calc(100% - 30px);
    margin: 0 auto 10px;
    display: block;
    top: 10px;
    position: relative;
}

#vendForm .form-group.col-12 div.col-6:last-child {
    margin-bottom: 0;
}


}


/********************************Ipad**************************/

@media only screen and (device-width: 768px) {
  /* iPad screen size rules */
  
input[type="date"]:before {
	color: #999999;
	content: attr(placeholder);
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus, input[type="date"]:valid {
	color: #666666;
}
input[type="date"]:focus::before, input[type="date"]:valid::before {
	content: "" !important;
}


}

@media only screen and (min-device-width: 481px) and 
(max-device-width: 1024px) and (orientation:portrait) {
  /* Portrait iPad display */
  
input[type="date"]:before {
	color: #999999;
	content: attr(placeholder);
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus, input[type="date"]:valid {
	color: #666666;
}
input[type="date"]:focus::before, input[type="date"]:valid::before {
	content: "" !important;
}


}

@media only screen and (min-device-width: 481px) and 
(max-device-width: 1024px) and (orientation:landscape) {
  /* Landscape iPad display */
  
input[type="date"]:before {
	color: #999999;
	content: attr(placeholder);
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus, input[type="date"]:valid {
	color: #666666;
}
input[type="date"]:focus::before, input[type="date"]:valid::before {
	content: "" !important;
}


}