.required_field.required_red{
  color:red;
}

#loadingmessage {width: 100%;height: 100%;top: 0;left: 0; position: fixed;display: block;opacity: 0.7;background-color: #fff;z-index: 99;text-align: center;}
.loaderimg {position: absolute;top: 0;left: 10%;z-index: 100;width: 100px;height: 100px;right: 0;margin: auto;bottom: 0;}


.col-md-6.form-group.cus-form-group {
    position: relative;
}

.col-md-6.form-group.cus-form-group i.fa.fa-calendar {
    position: absolute;
    bottom: 12px;
    left: 22px;
}

.col-md-6.form-group.cus-form-group .datepicker {
    padding-left: 30px !important;
}

input#image {
    padding: 5px;
}


.custum-frm label[for="image"] + img {
    display: block;
    height: auto;
    width: 200px;
    margin-bottom: 10px;
    border: 10px solid #fff;
    box-shadow: 0 0 11px 0px #0002;
}

.btn.btn-bg {
    padding: 12px 20px;
    background: linear-gradient(152deg, #f47f34, #fdb92e);
    color: #fff !important;
    border-radius: 30px;
    line-height: initial;
    float: right;
}
.btn.btn-bg-login {
    padding: 12px 20px;
    background: linear-gradient(152deg, #f47f34, #fdb92e);
    color: #fff !important;
    border-radius: 30px;
    line-height: initial;
    width: 170px;
    
}

table#events-table img {
    height: auto;
    border: 3px solid #fff;
    box-shadow: 0 0 7px 0 #0004;
}
button.swal2-confirm{
  background: linear-gradient(to right,#9d3aba,#e51197);
  border: 0;
  border-radius: 30px; 
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    background-color:#6e6a6a;
    color:#fff;
}

/*================================== admin css ========================*/
.left-sidebar-back {
    float: left;
    width: 22%;
    background: #333;
}
.navigation-menu > li {
    float: left;
    position: relative;
    width: 100%;
}

.right-cont-section {
    float: left;
    width: 78%;
    margin-left: 0;
}
.footer {
    bottom: 0;
}
.page-title-box .page-title {
    font-size: 1.25rem;
    margin: -5px 0 0px 0;
    line-height: 18px;
    color: #323a46;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 28px;
}

.desk{
  display: none;
}

.topbar-menu .arrow-down:after {
    border-color: initial;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    height: 0.4em;
    display: inline-block;
    right: 5px;
    top: 50%;
    margin-left: 5px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    transition: all 0.3s ease-out;
    width: 0.4em;
}
.arrow-down {
    position: absolute;
    right: 13px;
    top: 22px;
}


.navigation-menu > li .submenu.show-menu  li a {
    display: block;
    padding: 9px 25px;
    clear: both;
    white-space: nowrap;
    color: #fff;
}
.navigation-menu > li .submenu.show-menu:before {
   display: none;
}
.navigation-menu > li .submenu{
  visibility: hidden !important;
  opacity: 0 !important;
  margin-top: 0px !important;
}
.navigation-menu > li .submenu.show-menu {
    position: inherit;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding:0px 0 10px 10px;
    list-style: none;
    min-width: 200px;
    text-align: left;
    visibility: visible !important;
    opacity: 1 !important;
    margin-top: 0px;
    border-radius: 4px;
    transition: none;
    background-color: transparent;
    box-shadow: none;
}
.full-width .container {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
}
.wrapper.full-width {
    padding-left: 0;
    padding-right: 0;
}
.wrapper.full-width {
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
}
.navigation-menu > li:first-of-type > a{
  padding-left: 20px !important;
}
.footer .row {
    width: 100%;
    text-align: center;
    display: block;
}
.right-cont-section .card {
    margin-bottom: 0;
}
.footer .col-md-6 {
    max-width: 100%;
}
.page-title-box .page-title-right {
    padding-right: 20px;
        margin-top: 0;
}
.right-cont-section .page-title-box {
    padding: 10px 0 15px;
}
ol.breadcrumb.m-0 {
    padding-bottom: 0;
}
button.btn.login-btns {
    background: linear-gradient(to right,#9d3aba,#e51197) !important;
    border: navajowhite;
}

.welcome-text h2 {
    font-size: 68px !important;
        color: #9d3aba !important;
    margin: 0;
}
.welcome-text h3 {
    font-size: 45px;
    color: #e51197 !important;
    margin: 0;
    text-align: center;
    font-weight: normal;
}
.bg-container .welcome-text {
    height: 400px !important;
}

.ladda-button.btn{
margin:40px 0px 0px 0px;
}

form.custum-frm > div {
    padding: 15px;
    box-shadow: 0 0 11px 0px #0002;
}

form.custum-frm > div > .row, form.custum-frm > div .col-12 {
    margin: 0;
    padding: 0;
}

form.custum-frm > div > label {
    margin-bottom: 10px !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

form.custum-frm > div label {
    margin-bottom: 5px !important;
    line-height: initial;
}

form.custum-frm > div > .row, form.custum-frm > div .col-12 {
    margin: 0;
    padding: 0;
}

form.custum-frm > div > .row {
    margin-bottom: 10px;
}

form.custum-frm [type=file] {
    padding: 4px;
}

form.custum-frm textarea {
    resize: none;
    height: 80px;
}

form.custum-frm > div > .row img {
   /* max-width: 120px;*/
    height: auto;
    border: 5px solid #fff;
    margin: 2px 0 10px;
    box-shadow: 0px 0px 11px 0px #0002;
}

form.custum-frm .btn-right.submit-btn {
    box-shadow: none;
}
.head-a{
    color: #f47f34;
}
.mform .form-control {
    line-height: 40px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-size: 14px;
}
.mform i.fa {
    position: absolute;
    bottom: 18px;
    color: #111;
    right: 15px;
}

/*====================== Responsive Css ==========================*/
@media(max-width: 991px){

.full-width > .container {
    min-height: 90vh;
}
.footer {
bottom: 0;
position: inherit !important;
}

.full-width > .container {
 min-height: 100vh;
}

body{padding:0 !important;}


.topbar-menu li a img {
    max-width: 20px;
    margin-right: 8px;
}
.dtr-details p {
    white-space: pre-line;
}

.footer {
    width: 100%;
}

