.required_field.required_red{
  color:red;
}

#loadingmessage {width: 100%;height: 100%;top: 0;left: 0; position: fixed;display: block;opacity: 0.7;background-color: #fff;z-index: 99;text-align: center;}
.loaderimg {position: absolute;top: 0;left: 10%;z-index: 100;width: 100px;height: 100px;right: 0;margin: auto;bottom: 0;}


.col-md-6.form-group.cus-form-group {
    position: relative;
}

.col-md-6.form-group.cus-form-group i.fa.fa-calendar {
    position: absolute;
    bottom: 12px;
    left: 22px;
}

.col-md-6.form-group.cus-form-group .datepicker {
    padding-left: 30px !important;
}

input#image {
    padding: 5px;
}


.custum-frm label[for="image"] + img {
    display: block;
    height: auto;
    width: 200px;
    margin-bottom: 10px;
    border: 10px solid #fff;
    box-shadow: 0 0 11px 0px #0002;
}

.btn.btn-bg {
    padding: 12px 20px;
    background: linear-gradient(152deg, #f47f34, #fdb92e);
    color: #fff !important;
    border-radius: 30px;
    line-height: initial;
    float: right;
}
.btn.btn-bg-login {
    padding: 12px 20px;
    background: linear-gradient(152deg, #f47f34, #fdb92e);
    color: #fff !important;
    border-radius: 30px;
    line-height: initial;
    width: 170px;
    
}

table#events-table img {
    height: auto;
    border: 3px solid #fff;
    box-shadow: 0 0 7px 0 #0004;
}
button.swal2-confirm{
  background: linear-gradient(to right,#9d3aba,#e51197);
  border: 0;
  border-radius: 30px; 
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    background-color:#6e6a6a;
    color:#fff;
}

/*================================== admin css ========================*/
.left-sidebar-back {
    float: left;
    width: 250px;
    background: #1f1f1f;
    position: fixed;
    top: 70px;
    bottom: 0;
	left: -250px;
    transition: all ease 0.5s;
}
.navigation-menu > li {
    float: left;
    position: relative;
    width: 100%;
}

.right-cont-section {
    float: left;
    width: 100%;
    margin-left: 0;
    transition: all ease 0.5s;
}
.footer {
    bottom: 0;
}
.page-title-box .page-title {
    font-size: 1.25rem;
    margin: -5px 0 0px 0;
    line-height: 18px;
    color: #323a46;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 28px;
}

.desk{
  display: none;
}

.topbar-menu .arrow-down:after {
    border-color: initial;
    border-style: solid;
    border-width: 0 0 1px 1px;
    content: "";
    height: 0.4em;
    display: inline-block;
    right: 5px;
    top: 50%;
    margin-left: 5px;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    transition: all 0.3s ease-out;
    width: 0.4em;
}
.arrow-down {
    position: absolute;
    right: 13px;
    top: 22px;
}


.navigation-menu > li .submenu.show-menu  li a {
    display: block;
    padding: 9px 25px;
    clear: both;
    white-space: nowrap;
    color: #fff;
}
.navigation-menu > li .submenu.show-menu:before {
   display: none;
}
.navigation-menu > li .submenu{
  visibility: hidden !important;
  opacity: 0 !important;
  margin-top: 0px !important;
}
.navigation-menu > li .submenu.show-menu {
    position: inherit;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding:0px 0 10px 10px;
    list-style: none;
    min-width: 200px;
    text-align: left;
    visibility: visible !important;
    opacity: 1 !important;
    margin-top: 0px;
    border-radius: 4px;
    transition: none;
    background-color: transparent;
    box-shadow: none;
}
.full-width .container {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
}
.wrapper.full-width {
    padding-left: 0;
    padding-right: 0;
}
.wrapper.full-width {
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
}
.navigation-menu > li:first-of-type > a{
  padding-left: 20px !important;
}
.footer .row {
    width: 100%;
    text-align: center;
    display: block;
}
.right-cont-section .card {
    margin-bottom: 0;
}
.footer .col-md-6 {
    max-width: 100%;
}
.page-title-box .page-title-right {
    padding-right: 20px;
        margin-top: 0;
}
.right-cont-section .page-title-box {
    padding: 10px 0 15px;
}
ol.breadcrumb.m-0 {
    padding-bottom: 0;
}
button.btn.login-btns {
    background: linear-gradient(to right,#9d3aba,#e51197) !important;
    border: navajowhite;
}

.welcome-text h2 {
    font-size: 68px !important;
        color: #9d3aba !important;
    margin: 0;
}
.welcome-text h3 {
    font-size: 45px;
    color: #e51197 !important;
    margin: 0;
    text-align: center;
    font-weight: normal;
}
.bg-container .welcome-text {
    height: 400px !important;
}

.ladda-button.btn{
margin:40px 0px 0px 0px;
}

form.custum-frm > div {
    padding: 15px;
    box-shadow: 0 0 11px 0px #0002;
}

form.custum-frm > div > .row, form.custum-frm > div .col-12 {
    margin: 0;
    padding: 0;
}

form.custum-frm > div > label {
    margin-bottom: 10px !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

form.custum-frm > div label {
    margin-bottom: 5px !important;
    line-height: initial;
}

form.custum-frm > div > .row, form.custum-frm > div .col-12 {
    margin: 0;
    padding: 0;
}

form.custum-frm > div > .row {
    margin-bottom: 10px;
}

form.custum-frm [type=file] {
    padding: 4px;
}

form.custum-frm textarea {
    resize: none;
    height: 80px;
}

form.custum-frm > div > .row img {
   /* max-width: 120px;*/
    height: auto;
    border: 5px solid #fff;
    margin: 2px 0 10px;
    box-shadow: 0px 0px 11px 0px #0002;
}

form.custum-frm .btn-right.submit-btn {
    box-shadow: none;
}
.head-a{
    color: #f47f34;
}
.mform .form-control {
    line-height: 40px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-size: 14px;
}
.mform i.fa {
    position: absolute;
    bottom: 18px;
    color: #111;
    right: 15px;
}

/**************************************5-Apr-2021*************************************/

.right-cont-section > .row {
    margin: 0;
}

.right-cont-section > .row > .col-12, .right-cont-section > .row > .col-md-12 {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
}

.widget-rounded-circle.card-box .col-6 .text-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1f1f1f;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.widget-rounded-circle.card-box {
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.widget-rounded-circle.card-box .row {
    margin: 0;
}

.widget-rounded-circle.card-box .col-6 {
    padding: 25px 20px;
}

.widget-rounded-circle.card-box .col-6 .text-right * {
    color: #fff !important;
    opacity: 1 !important;
}

.right-cont-section {
    padding-top: 20px;
}

.right-cont-section .page-title-box .page-title {
    margin: 0;
    padding: 0px 0 0px;
}

.dashbrd.wrapper.full-width .content-area {
    min-height: calc(100vh - 130px);
}

.widget-rounded-circle.card-box .col-6 .avatar-lg i {
    color: #fff !important;
    font-size: 36px !important;
}

.widget-rounded-circle.card-box .bg-soft-danger {
    background: #f1556c;
}

.widget-rounded-circle.card-box:hover .bg-soft-danger {
    background: #fff;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}

.widget-rounded-circle.card-box:hover .bg-soft-danger i {
    color: #f1556c !important;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}

.widget-rounded-circle.card-box .bg-soft-success {
    background-color: #1abc9c;
}

.widget-rounded-circle.card-box:hover .bg-soft-success {
    background: #fff;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}

.widget-rounded-circle.card-box:hover .bg-soft-success i {
    color: #1abc9c !important;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}

.widget-rounded-circle.card-box .bg-soft-primary {
    background-color: #6658dd;
}

.widget-rounded-circle.card-box:hover .bg-soft-primary {
    background: #fff;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}

.widget-rounded-circle.card-box:hover .bg-soft-primary i {
    color: #6658dd !important;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}

.widget-rounded-circle.card-box .bg-soft-info {
    background-color: #4fc6e1;
}

.widget-rounded-circle.card-box:hover .bg-soft-info {
    background: #fff;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}

.widget-rounded-circle.card-box:hover .bg-soft-info i {
    color: #4fc6e1 !important;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
}

.card-box.avatar-lg {
    height: 6rem;
    width: 6rem;
}

.card1 .widget-rounded-circle.card-box:before {
    content: "";
    width: 101%;
    height: 101%;
    right: -101%;
    background: #f1556c;
    display: block;
    position: absolute;
    top: 0;
    transition: all ease 0.5s;
}

.card2 .widget-rounded-circle.card-box:before {
    content: "";
    width: 101%;
    height: 101%;
    right: -101%;
    background: #1abc9c;
    display: block;
    position: absolute;
    top: 0;
    transition: all ease 0.5s;
}

.card3 .widget-rounded-circle.card-box:before {
    content: "";
    width: 101%;
    height: 101%;
    right: -101%;
    background: #6658dd;
    display: block;
    position: absolute;
    top: 0;
    transition: all ease 0.5s;
}

.card4 .widget-rounded-circle.card-box:before {
    content: "";
    width: 101%;
    height: 101%;
    right: -101%;
    background: #4fc6e1;
    display: block;
    position: absolute;
    top: 0;
    transition: all ease 0.5s;
}

.card1 .widget-rounded-circle.card-box:hover:before, .card2 .widget-rounded-circle.card-box:hover:before, .card3 .widget-rounded-circle.card-box:hover:before, .card4 .widget-rounded-circle.card-box:hover:before {
    right: 0;
}

.card-box .row {
    margin: 0;
}

.card-box .avatar-lg {
    height: 6rem;
    width: 6rem;
}

ul.navigation-menu.in li:hover, ul.navigation-menu.in li.active {
    border-left: 2px solid #fff;
}

ul.navigation-menu.in li {
    border-left: 2px solid #0000;
    margin-bottom: 5px;
}

ul.navigation-menu.in li a {
    padding: 12px 20px;
}

.left-sidebar-back.open {
    left: 0;
}

.left-sidebar-back.open + .right-cont-section {
    margin-left: 250px;
}

.left-sidebar-back.open + .right-cont-section {
    margin-left: 250px;
}

.dashbrd .arrow-down {
    top: 13px;
}



/*====================== Responsive Css ==========================*/
@media(max-width: 991px){

.full-width > .container {
    min-height: 90vh;
}
.footer {
bottom: 0;
position: inherit !important;
}

.full-width > .container {
 min-height: 100vh;
}

body{padding:0 !important;}


.topbar-menu li a img {
    max-width: 20px;
    margin-right: 8px;
}
.dtr-details p {
    white-space: pre-line;
}

.footer {
    width: 100%;
}

